.login-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fefefe;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 6px;
  font-weight: 600;
}

.login-container input {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-container button {
  padding: 10px;
  background-color: #059669;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.login-container button:hover {
  background-color: #047857;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.register-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.register-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.register-text a:hover {
  text-decoration: underline;
}

.navbar-auth {
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 3rem;
}

.navbar-auth a {
  text-decoration: none;
  color:rgb(255, 255, 255);
}

.navbar-auth a:hover {
  text-decoration: underline;
  color: rgb(209, 227, 230);
}